<div class="  bg-white  d-flex flex-column mt-5 col-12 shadow  "
  style="border-radius: 20px;">


  <!-- <a href="#" class="btn bg-light bg-opacity-10 my-2">  -->
  <!-- <div class="d-flex bg-light bg-opacity-10 ms-4  justify-content-around align-content-around my-2">
    <img src="./assets/test.png" alt="image here" style="width: 50px; height: 50px;">
    <div class="dropdown row col-7 ">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        World cup
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="">Action</a>
        <a class="dropdown-item" routerLink="">Another action</a>
        <a class="dropdown-item" routerLink="">Something else here</a>
      </div>
    </div>
     <p class="mx-2"> league 1</p> -->
  <!-- </div>  -->
  <!-- </a> -->

  <a href="#" class="btn bg-light bg-opacity-10 my-2" *ngFor="let league of leagues.data">
    <div class="d-flex  justify-content-around align-content-around">
      <img src="./assets/test.png" alt="image here" style="width: 50px; height: 50px;">
      <p class="mx-2"> {{league.club_name}}</p>
    </div>
  </a>

  <!-- <a href="#" class="btn bg-light bg-opacity-10 my-2">
    <div class="d-flex  justify-content-around align-content-around">
      <img src="./assets/test.png" alt="image here" style="width: 50px; height: 50px;">
      <p class="mx-2"> league 1</p>
    </div>
  </a>
  <a href="#" class="btn bg-light bg-opacity-10 my-2">
    <div class="d-flex  justify-content-around align-content-around">
      <img src="./assets/test.png" alt="image here" style="width: 50px; height: 50px;">
      <p class="mx-2"> league 1</p>
    </div>
  </a>
  <a href="#" class="btn bg-light bg-opacity-10 my-2">
    <div class="d-flex  justify-content-around align-content-around">
      <img src="./assets/test.png" alt="image here" style="width: 50px; height: 50px;">
      <p class="mx-2"> league 1</p>
    </div>
  </a> -->



</div>
