<div class="  bg-white  d-flex flex-column mt-5 col-12 shadow  " style="border-radius: 20px;">
  <h5 class="m-4">Leagues</h5>
  <div *ngIf="leagues.data; else loading">

    <div class="d-flex  justify-content-start align-content-center " *ngFor="let league of leagues.data">
        <a routerLink="league/{{league.id}}" class="btn bg-light bg-opacity-10 m-2"><img src="{{league.club_image}}"
            alt="image here" style="width: 50px; height: 50px;"></a>
        <a routerLink="league/{{league.id}}" class="btn bg-light bg-opacity-10 m-2">
          <p class="mx-2"> {{league.club_name}}</p>
        </a>
    </div>
  </div>
  <ng-template #loading style="height: 50vh;">
    <div class="spinner-border text-primary m-auto text-center my-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>

</div>