<div class="table-responsive px-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created at</th>
                <th class="text-center" scope="col">Suspend</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>name</td>
                <td>title test</td>
                <td>description</td>
                <td class="text-center"><i class="fa-solid fa-trash text-danger"></i></td>
            </tr>
        </tbody>
    </table>
</div>