<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="./assets/image/logo.png" height="40px" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
            routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <div class="d-flex">
            <a class="nav-link" routerLinkActive="active" routerLink="/favourites">Favourites</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="d-flex">
            <a class="nav-link" routerLinkActive="active" routerLink="/news">News</a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                [(ngModel)]="searchText" autofocus>
            </form>
          </div>
          <ul class="list-group list-group-flush">
            <!-- results of ngFor is passed to appFilter with argument searchText -->
            <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">
              {{c}}
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="auth.isLoggedin() ; else loginBLock" class="navbar-nav ms-auto">
        <li *ngIf="auth.user.role == 'admin'" class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/admin/posts">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="signOut()">Logout</a>
        </li>
      </ul>
      <ng-template #loginBLock>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/auth">Login</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>