<div class=" Featured card shadow mt-5" *ngIf="featured; else ad">
  <div class="  title">Featured Match</div>
  <a href="#">
    <div class=" match ">
      <div display="flex" class=" fBLrOx bbcOkn">
        <div class="  clubHome" style="white-space: nowrap;">
          <span class="  clubname">{{featured.homeClub.name}}</span>
        </div>
        <div class="  clubAway" style="white-space: nowrap;">
          <span class="  clubname">{{featured.awayClub.name}}</span>
        </div>
      </div>
      <div display="flex" class="    gjJmZQ iZSrTq">
        <div display="flex" class="    jdGJLw hryjgv">
          <a href="#">
            <div class="  clubimage">
              <img src="{{featured.homeClub.image}}" width="40" height="40" alt="Yanbian Longding"
                style="vertical-align: middle;">
            </div>
          </a>
        </div>
        <div class="  kruvRD">
          <span class="  time">{{featured.home_score}} - {{featured.away_score}}</span>
          <span class="  date">{{date}}</span>
        </div>
        <div display="flex" class="    jdGJLw hryjgv">
          <a href="#">
            <div class="  clubimage">
              <img src="{{featured.awayClub.image}}" width="40" height="40" alt="Jinan Xingzhou"
                style="vertical-align: middle;">
            </div>
          </a>
        </div>
      </div>
    </div>
  </a>

</div>
<ng-template #ad>
  <app-ad-space></app-ad-space>
</ng-template>