.Featured {
  background-color: rgb(255, 255, 255);
  padding-bottom: 16px;
  border-radius: 16px;
  box-shadow: rgb(34 34 38 / 8%) 0px 1px 4px;
}
.title {
  padding: 14px 16px 6px;
  color: rgb(34, 34, 38);
  text-align: left;
  font: 700 16px / 1.25 Roboto, sans-serif;
}
a {
  text-decoration: none;
  background-color: transparent;
}
.match {
  background-color: rgba(229, 233, 239, 0.4);
  height: 102px;
  margin: 8px 8px 16px;
  padding: 8px 8px 16px;
  border-radius: 8px;
}
.bbcOkn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.fBLrOx {
  display: flex;
  margin-bottom: 4px;
}
.clubHome {
  height: 28px;
  margin-left: -4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  flex: 0 0 120px;
}
.clubname {
  color: rgb(34, 34, 38);
  text-align: left;
  font: 700 12px / 1.14 Roboto, sans-serif;
}
.clubAway {
  height: 28px;
  margin-right: -4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  flex: 0 0 120px;
}
.iZSrTq {
  justify-content: space-evenly;
  display: flex;
    -webkit-box-align: flex-start;
    align-items: flex-start;
}
.gjJmZQ {
  display: flex;
}
.hryjgv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.jdGJLw {
  display: flex;
  position: relative;
}
.clubimage {
  position: relative;
  height: 40px;
  width: 40px;
}
img {
  border-style: none;
}
.kruvRD {
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  flex-basis: 152px;
}
.time {
  margin-top: 4px;
  color: rgb(34, 34, 38);
  text-align: center;
  display: block;
  font: 900 18px / 1.33 Roboto, sans-serif;
}
.date {
  margin-top: 2px;
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  display: block;
  font: 400 14px / 1.14 Roboto, sans-serif;
}
