<div  class=" Featured card shadow">
  <div  class="  title">Featured Match</div>
  <a  href="#">
    <div class=" match ">
      <div display="flex" class=" fBLrOx bbcOkn">
        <div class="  clubHome" style="white-space: nowrap;">
          <span   class="  clubname">Man City</span>
        </div>
        <div class="  clubAway" style="white-space: nowrap;">
          <span   class="  clubname">Brentford</span>
        </div>
      </div>
      <div display="flex" class="    gjJmZQ iZSrTq">
        <div display="flex" class="    jdGJLw hryjgv">
          <a href="#">
            <div class="  clubimage">
              <img src="https://api.sofascore.app/api/v1/team/17/image" width="40" height="40" alt="Yanbian Longding"   style="vertical-align: middle;">
            </div>
          </a>
        </div>
        <div class="  kruvRD">
          <span   class="  time">in 3 days</span>
          <span   class="  date">12/11/2022</span>
        </div>
        <div display="flex" class="    jdGJLw hryjgv">
          <a href="#">
            <div class="  clubimage">
              <img src="https://api.sofascore.app/api/v1/team/50/image" width="40" height="40" alt="Jinan Xingzhou"   style="vertical-align: middle;">
            </div>
          </a>
        </div>
      </div>
    </div>
  </a>

    </div>

