<!-- start league section -->
<!-- <section> -->
<!-- start league wrapper -->
<div class="league-wrapper col-lg-12 col-sm-12 my-lg-3">
  <!-- start league overlay -->
  <div class="league-overlay">
  </div>
  <!-- end league overlay -->
  <!-- start league data -->
  <div class="d-flex league-data gap-4">
    <!-- league image -->
    <div class="league-image" style="background-color: transparent !important;">
      <img src="{{league.data.comp_image}}" alt="" width="100%" height="100%">
    </div>
    <!-- league name and country -->
    <div class="league-name-country justify-content-center gap-2">
      <!-- <p class="h3 text-color fw-bold">Premier League</p> -->
      <p class="h3 text-color fw-bold">{{league.data.comp_name}}</p>
      <div class="league-flag-country gap-2">
        <!-- flag -->
        <div class="flag-img ">
          <img class="rounded-1" src="{{league.data.comp_country_image}}" alt="" width="100%" height="100%">
        </div>
        <!-- country name -->
        <div class="country-name d-flex align-items-center">
          <p class="h6 text-color fw-bold">{{league.data.comp_country}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end league data -->
</div>
<!-- end league wrapper -->
<!-- </section> -->
<!-- end league section -->
