<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-3  ">
            <app-all-leagues-list></app-all-leagues-list>
            <app-favourites></app-favourites>
        </div>
        <div class="col-md-12 col-lg-6 ">
            <app-match-list></app-match-list>
        </div>
        <div class="col-md-12 col-lg-3  ">
            <app-all-leagues-list></app-all-leagues-list>
        </div>
</div>
</div>
<app-auth-form></app-auth-form>

<app-footer></app-footer>
