<div class="container">
  <div class="row gap-1">
    <!-- start standings section -->
    <!-- <section> -->
    <!-- start standings table -->
    <div class="col-12 p-lg-1 shadow-lg border border-light border-3 rounded-3">
      <!-- start table title -->
      <div class="row justify-content-center text-center">
        <div class="col-6">
          <p class="text-center fs-6 fw-bold">Standings</p>
        </div>
      </div>
      <!-- end table title -->
      <!-- start clubs standings -->
      <div class="row">
        <div class="col-12">
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <td class="text-muted col-1"><small>#</small></td>
                <td class="text-muted col-lg-6 col-md-7 col-sm-6"><small>Team</small></td>
                <td class="text-muted col-lg-1 col-md-1 col-sm-1"><small>P</small></td>
                <td class="text-muted no-small"><small>W</small></td>
                <td class="text-muted no-small"><small>D</small></td>
                <td class="text-muted no-small"><small>L</small></td>
                <td class="text-muted col-1"><small>Goals</small></td>
                <td class="text-muted text-center col-3 no-small"><small>Last 5</small></td>
                <td class="text-muted col-1"><small>Pts</small></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let standing of standings.data">
                <!-- ranking -->
                <td class="col-1"><small>{{standing.position}}</small></td>
                <!-- team -->
                <td>
                  <a class="text-decoration-none text-black" routerLink="/club/{{standing.club_id}}">

                    <div class="row">
                      <div class="col-3 image-small"><img src="{{standing.club_image}}" alt="" width="100%"
                          height="100%"></div>
                      <div class="col-8 col-md-9 col-sm-8 font">
                        <small>{{standing.club_name}}</small>
                      </div>
                    </div>


                  </a>

                </td>
                <!-- played -->
                <td><small>{{standing.matches_played}}</small></td>
                <!-- wins -->
                <td class="no-small"><small>{{standing.wins}}</small></td>
                <!-- draws -->
                <td class="no-small"><small>{{standing.draws}}</small></td>
                <!-- loses -->
                <td class="no-small"><small>{{standing.losses}}</small></td>
                <!-- goals -->
                <td><small>{{standing.goals_for}}:{{standing.goals_against}}</small></td>
                <!-- last 5 matches -->
                <td class="no-small">
                  <div class="row justify-content-center ">
                    <div class="col-12 rounded-3">
                      <div class="row justify-content-center gap-1">
                        <div class="col-2 p-1 rounded-3 fw-bold text-white text-center"
                          [ngClass]="{'bg-success':form =='W','bg-secondary':form =='D','bg-danger':form =='L'}"
                          *ngFor="let form of standing.form"><small>{{form}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <!-- points -->
                <td class="text-center"><small>{{standing.points}}</small></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end clubs standings -->
    </div>
    <!-- end standings table -->
    <!-- <app-top-players class="col-5"></app-top-players> -->
    <!-- </section> -->
    <!-- end standings section -->

  </div>
</div>
