<div class=" bg-white d-flex flex-column mt-5 col-12 shadow-lg  " style="border-radius: 20px;">
    <h5 class="m-4">Clubs</h5>
    <div class="d-flex justify-content-between m-2">
        <a routerLink="" routerLinkActive="active" class="text-reset text-decoration-none">Image</a>
        <a routerLink="" routerLinkActive="active" class="text-reset text-decoration-none">Team</a>
        <a routerLink="" routerLinkActive="active" class="text-reset text-decoration-none">Favorite</a>
    </div>

    <div *ngIf="clubs.data; else loading">
        <span class=" bg-opacity-10 m-2" *ngFor="let club of clubs.data">
            <div class="d-flex  justify-content-between align-content-center text-center">
                <img src="{{club.club_image}}" alt="image here" style="width: 50px; height: 50px;">
                <p> {{club.club_name}}</p>
                <button id="addFavBtn-{{club.club_id}}" (click)="addfavourites(club.club_id)" class="btn"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                </button>
                <!-- <button id="DeleteFavBtn-{{club.club_id}}" (click)="deletefavourites(club.club_id)" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg></button> -->
            </div>
        </span>
    </div>
    <ng-template #loading style="height: 50vh;">
        <div class="spinner-border text-primary m-auto text-center my-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </ng-template>
</div>