<!-- start standings section -->
<!-- <aside> -->
  <!-- start top scorers table -->
  <div class="col-lg-3 my-lg-2 p-lg-2 shadow-lg  rounded-3">
    <!-- start table title -->
    <div class="row justify-content-start ">
      <div class="col-6">
        <p class="text-left fs-6 fw-bold">Top Scorers</p>
      </div>
    </div>
    <!-- end table title -->
    <!-- start clubs standings -->
    <div class="row">
      <div class="col-12">
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <td class="text-muted col-1"><small>#</small></td>
              <td class="text-muted col-6"></td>
              <td class="text-muted col-1"><small>Goals</small></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- ranking -->
              <td><small>1</small></td>
              <!-- player -->
              <td>
                <div class="row">
                  <div class="col-3 rounded-circle"><img class="rounded-circle" src="https://api.sofascore.app/api/v1/player/839956/image" alt="" width="100%"
                      height="100%"></div>
                  <div class="col-8">
                    <div class="row flex-column">

                      <small class="fs-6">Erling Haaland</small>

                      <small class="text-muted">Erling Haaland</small>

                    </div>
                  </div>
                </div>
              </td>
              <!-- points -->
              <td><small>34</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- end clubs standings -->
  </div>
  <!-- end standings table -->
<!-- </aside> -->
<!-- end top scorers section -->
