<div class="responsive-container-block outer-container card shadow">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">Meet Our Expert Instructors
    </p>
    <p class="text-blk section-subhead-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </p>
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png"
              class="team-img" />
          </div>
          <p class="text-blk name">Maxwell Doe
          </p>
          <p class="text-blk position">Instructor
          </p>
          <div class="social-media-links">
            <a href="http://www.twitter.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg" /></a>
            <a href="http://www.facebook.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" /></a>
            <a href="http://www.instagram.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" /></a>
            <a href="http://www.gmail.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg" /></a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png"
              class="team-img" />
          </div>
          <p class="text-blk name">Maxwell Doe
          </p>
          <p class="text-blk position">Instructor
          </p>
          <div class="social-media-links">
            <a href="http://www.twitter.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg" /></a>
            <a href="http://www.facebook.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" /></a>
            <a href="http://www.instagram.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" /></a>
            <a href="http://www.gmail.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg" /></a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png"
              class="team-img" />
          </div>
          <p class="text-blk name">Maxwell Doe
          </p>
          <p class="text-blk position">Instructor
          </p>
          <div class="social-media-links">
            <a href="http://www.twitter.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg" /></a>
            <a href="http://www.facebook.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" /></a>
            <a href="http://www.instagram.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" /></a>
            <a href="http://www.gmail.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg" /></a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png"
              class="team-img" />
          </div>
          <p class="text-blk name">Maxwell Doe
          </p>
          <p class="text-blk position">Instructor
          </p>
          <div class="social-media-links">
            <a href="http://www.twitter.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg" /></a>
            <a href="http://www.facebook.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" /></a>
            <a href="http://www.instagram.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" /></a>
            <a href="http://www.gmail.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg" /></a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png"
              class="team-img" />
          </div>
          <p class="text-blk name">Maxwell Doe
          </p>
          <p class="text-blk position">Instructor
          </p>
          <div class="social-media-links">
            <a href="http://www.twitter.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg" /></a>
            <a href="http://www.facebook.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" /></a>
            <a href="http://www.instagram.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" /></a>
            <a href="http://www.gmail.com/" target="_blank"><img
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
