<div class="responsive-container-block outer-container card shadow">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">Meet Our Expert Developers
    </p>
    <p class="text-blk section-subhead-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </p>
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="../../assets/image/Taha.jpg"
              class="team-img" />
          </div>
          <p class="text-blk name">Mohamed Taha
          </p>
          <p class="text-blk position">Full-Stack Developer
          </p>
          <div class="social-media-links">
            <a class="logo" href="http://www.twitter.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-facebook-1.svg" /></a><!--facebook account-->
            <a class="logo" href="http://www.facebook.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-github-1.svg" /></a><!--github account-->
            <a class="logo" href="http://www.instagram.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-linkedin-1.svg" /></a><!--linkedin account-->
            <a class="logo" href="http://www.gmail.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-gmail-1.svg" /></a><!--gmail account-->
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="../../assets/image/talaat.jpg"
              class="team-img" />
          </div>
          <p class="text-blk name">Mohamed Talaat
          </p>
          <p class="text-blk position">Full-Stack Developer
          </p>
          <div class="social-media-links">
            <a class="logo" href="http://www.twitter.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-facebook-1.svg" /></a><!--facebook account-->
            <a class="logo" href="http://www.facebook.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-github-1.svg" /></a><!--github account-->
            <a class="logo" href="http://www.instagram.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-linkedin-1.svg" /></a><!--linkedin account-->
            <a class="logo" href="http://www.gmail.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-gmail-1.svg" /></a><!--gmail account-->
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="../../assets/image/Aly.jpg"
              class="team-img" />
          </div>
          <p class="text-blk name">Aly Ossama
          </p>
          <p class="text-blk position">Full-Stack Developer
          </p>
          <div class="social-media-links">
            <a class="logo" href="http://www.twitter.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-facebook-1.svg" /></a><!--facebook account-->
            <a class="logo" href="http://www.facebook.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-github-1.svg" /></a><!--github account-->
            <a class="logo" href="http://www.instagram.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-linkedin-1.svg" /></a><!--linkedin account-->
            <a class="logo" href="http://www.gmail.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-gmail-1.svg" /></a><!--gmail account-->
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="../../assets/image/Mazen.jpg"
              class="team-img" />
          </div>
          <p class="text-blk name">Mazen Khattab
          </p>
          <p class="text-blk position">Full-Stack Developer
          </p>
          <div class="social-media-links">
            <a class="logo" href="http://www.twitter.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-facebook-1.svg" /></a><!--facebook account-->
            <a class="logo" href="http://www.facebook.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-github-1.svg" /></a><!--github account-->
            <a class="logo" href="http://www.instagram.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-linkedin-1.svg" /></a><!--linkedin account-->
            <a class="logo" href="http://www.gmail.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-gmail-1.svg" /></a><!--gmail account-->
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img src="../../assets/image/Nabil.jpg"
              class="team-img" />
          </div>
          <p class="text-blk name">Mohamed Nabil
          </p>
          <p class="text-blk position">Full-Stack Developer
          </p>
          <div class="social-media-links">
            <a class="logo" href="http://www.twitter.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-facebook-1.svg" /></a><!--facebook account-->
            <a class="logo" href="http://www.facebook.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-github-1.svg" /></a><!--github account-->
            <a class="logo" href="http://www.instagram.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-linkedin-1.svg" /></a><!--linkedin account-->
            <a class="logo" href="http://www.gmail.com/" target="_blank"><img
                src="../../assets/image/iconmonstr-gmail-1.svg" /></a><!--gmail account-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
